body{
    margin: 0;
    padding: 0;
    color: #02529F;
    background-color: azure;
}

a{
    color: #02529F;
    text-decoration: none;
}

a:hover{
    color: #02529F;
    text-decoration: none;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 35px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 45px;
    background: #02529F;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 35px;
    height: 45px;
    background: #02529F;
    cursor: pointer;
}


.meldingValve{
    margin-top: 0;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 1000;
    font-weight: bold;
    text-align: center;
    min-width: 1em;
    min-height: 1em;
    color: red;
    font-size: 2em;
}