body{
    margin: 0;
    padding: 0;
    color: #02529F;
    background-color: azure;
}

a{
    color: #02529F;
    text-decoration: none;
}

a:hover{
    color: #02529F;
    text-decoration: none;
}

.container-fluid{

}

.row{
    height: 200px;
}

.col-sm-2, .col-sm-4{
    text-align: center;
    #min-height: 150px;
}

h1, h2, h3, h4{
    font-weight: bold;
}