body{
    margin: 0;
    padding: 0;
    color: #02529F;
    background-color: azure;
}

a{
    color: #02529F;
    text-decoration: none;
}

a:hover{
    color: #02529F;
    text-decoration: none;
}

.container-fluid{

}

.row{
    min-height: 200px;
}

h1, h2, h3, h4,h5,h6{
    font-weight: bold;
}


@media (max-width: 768px) {
    .col-6 {padding-top:50px;}
}